<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/Blog">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.is_post %}
  <title>{{ page.title }}</title>
  <meta name="keywords" content="{{ page.keywords }}">
  <meta name="author" itemprop="creator" content="{{ page.author }}">
  {% include global/article_page_meta.html %}
  {% else %}
  <title>{{ site.name }}</title>
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="author" itemprop="creator" content="{{ site.author.name }}">
  {% include global/standard_page_meta.html %}
  {% endif %}

  {% feed_meta %}

  {% if site.google.googleplus %}
    <link rel="author" href="https://plus.google.com/{{ site.google.googleplus }}/">
    <link rel="publisher" href="https://plus.google.com/{{ site.google.googleplus }}/">
  {% endif %}


  {% include global/stylesheets.html %}
  {% include global/https_redirect.html %}

</head>
<body>
