---
layout: default
---
<header style="background-image: url({{ site.baseurl }}{{ page.featured_image }});">
  <div class="container post-container">
    <a href="{{ site.baseurl }}/" class="home_button"></a>
    <div class="inner-container">
      <h1>{{ page.title }}</h1>
      <ul class="meta">
        <li>
          <span>
            Author
          </span>
          <a class="post-author" href="https://twitter.com/{{ page.twitter }}">{{ page.author }}</a>
        </li>
        <li>
          <span>
            Published
          </span>
          {{ page.pub_date | date_to_string }}
        </li>
        <li>
          <span>
            Category
          </span>
          {{ page.categories }}
        </li>
      </ul>
    </div>
    <ul class="pagination">
      {% if page.previous.url %}
        <li class="previous">
          <a href="{{ site.baseurl }}{{ page.previous.url }}">
            Previous
          </a>
        </li>
      {% endif %}
      {% if page.next.url %}
      <li class="next">
        <a href="{{ site.baseurl }}{{ page.next.url }}">
          Next
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</header>

<article itemscope itemtype="https://schema.org/BlogPosting">
<meta itemprop="datePublished" content="{{ page.pub_date | date_to_xmlschema}}">
<meta itemprop="dateModified" content="{{page.last_modified | date_to_xmlschema}}">
<meta itemprop="keywords" content="{{ page.keywords }}">
  <section itemprop="articleBody" class="container">
    {{ content }}

  <section>
    <h3>Share this article:</h3>
    <span class='st_facebook_large' displayText='Facebook'></span>
    <span class='st_twitter_large' displayText='Tweet'></span>
    <span class='st_linkedin_large' displayText='LinkedIn'></span>
    <span class='st_email_large' displayText='Email'></span>
    <span class='st_reddit_large' displayText='Reddit'></span>
    <span class='st_googleplus_large' displayText='Google +'></span>
    <span class='st_pinterest_large' displayText='Pinterest'></span>
  </section>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'codesinz'; // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </section>
</article>
