<article itemprop="blogPosts" itemscope itemtype="https://schema.org/BlogPosting">
  <meta itemprop="datePublished" content="{{ post.date | date_to_xmlschema}}">
  <meta itemprop="dateModified" content="{{ post.last_modified | date_to_xmlschema}}">
  <meta itemprop="keywords" content="{{ post.keywords }}">
  {% if post.lang %}
    <meta itemprop="inLanguage" content="{{ post.lang }}">
  {% else %}
    <meta itemprop="inLanguage" content="en_US">
  {% endif %}

  <!-- DIVERSITY IS KEY -->
  <span itemprop="audience" itemscope itemtype="http://schema.org/PeopleAudience">
      <meta itemprop="gender" content="any">
  </span>

  <h2 itemprop="headline"><a href="{{ site.baseurl }}{{ post.url }}" title="Article: {{ post.title }}">{{ post.title }}</a></h2>
  <a rel="author" itemsprop="author" href="//twitter.com/{{ post.twitter }}" title="{{ post.author }}'s twitter feed">{{ post.author }}</a>
  on
  <time itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>

   <main itemprop="articleBody">
    {{ post.excerpt }}
  </main>
</article>
