<meta name="description" itemprop="description" content="{{ site.description }}">
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ site.description }}" />
<meta property="og:title" content="{{ site.title }}" />
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}" />
<meta property="og:locale" content="en_US" />

<!-- Twitter Card -->
<meta name="”twitter:creator”" value="{{ author.twitter }}">
<meta name="twitter:card" content="{{ site.description }}">
<meta name="twitter:url" content="{{ site.url }}{{ site.baseurl }}">
<meta name="twitter:title" content="{{ site.title }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}{{ site.sidebar_image }}">
