// $max-width: 37.75em;
// $full-width: 50%;
/* padding: 3.125em 0 15.625em; */

.article-full {
  box-sizing: border-box;
  width: 100%;
  p,
  ul,
  ol {
    line-height: 2;
  }
}

.article-header {
  background-color: $black;
}

.article-header__heading {
  margin: 0;
  padding: (20/16) * 1em;
  font-size: (38/16) * 1em;
  font-weight: 100;
  text-transform: uppercase;
}

.article-header__heading--center {
  text-align: center;
}

.article-header__heading--white {
  color: $white;
}

.article-body h2 {
  font-size: (32/18) * 1em;
  font-weight: 600;
}

.article-body,
.article-footer {
  margin: auto;
  padding: 0 (20/18) * 1em;
  font-size: (18/16) * 1em;
  font-weight: 300;
}

.article-body a {
  text-decoration: none;
  border-bottom: 1px dotted hsla(185.92, 77.17%, 36.08%, 1);

  &:hover {
    border-bottom-style: solid;
  }

}


/* Author info / article info*/
.article-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // font-family: 'Lato', sans-serif;
  font-size: (14/16) * 1em;
  color: hsla(0, 0%, 80%, 1);
}

.article-info--delimited {
  &:before {
    content: "";
    width: 10%;
    margin: 20px 0;
    border-top: 1px solid hsla(0, 0%, 80%, 1);
  }
}

.article-info-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-info__author {
  &-profile,
  &-profile:hover {
    margin-right: 0.625em;
    border: none;
  }

  &-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}


.categories-list {
  text-transform: uppercase;

  &-item:before {
    content: "#";
  }

}

.article-full blockquote {
  background: $light-gray;
  margin: 0;
  border-left: 10px solid darken($light-gray, 12%);
  padding: 5px 40px;
}

@media screen and (min-width: 800px) {
  .article-header__heading {
    max-width: (906/58) * 1em;
    font-size: (58/18) * 1em;
    margin: auto;
  }

}
