// $max-width: 37.75em;
// $full-width: 50%;
/* padding: 3.125em 0 15.625em; */

.article-full {
  width: 100%;
}

.article-full header {
  background-color: $black;
}

.article-full h1 {
  margin: 0;
  padding: (20/16) * 1em;
  font-size: (38/16) * 1em;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  color: $white;
}

.article-full h1 strong {
  transition: all .3s ease;
  transition-property: background-color, color;
}

.article-full h1:hover strong {
  background-color: hsl(32.43, 100%, 46.08%);
  color: $white;
}

.article-full h2 {
  font-size: (24/18) * 1em;
  font-weight: 300;
}

.article-full main {
  margin: auto;
}

.article-full main, 
.article-full footer {
  padding: 0 (20/18) * 1em;
  font-size: (18/16) * 1em;
  font-weight: 300;
}

.article-full a {
  text-decoration: none;
  border-bottom: 1px dotted hsla(185.92, 77.17%, 36.08%, 1);
}

.article-full a:hover {
  border-bottom-style: solid;
}

/* Author info / article info*/
.article-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  color: hsla(0, 0%, 80%, 1);
}

.article-info:before {
  content: "";
  width: 10%;
  margin: 20px 0;
  border-top: 1px solid hsla(0, 0%, 80%, 1);
}

.article-info-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

a.article-author-image,
a.article-author-image:hover {
  margin-right: 0.625em;
  border: none;
}

.article-author-image img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.categories-list {
  font-weight: 600;
  text-transform: uppercase;
}

.article-full blockquote {
  background: $light-gray;
  margin: 0;
  border-left: 10px solid darken($light-gray, 12%);
  padding: 5px 40px;
}
