.article-small {
  max-width: 56.625em;
  margin: 3.125em auto;
  padding: 0 2.2222222222em;
}

.article-small h2 {
  font-size: 2.5em;
  font-weight: 100;
  text-transform: uppercase;
}

.article-small h2 a {
  text-decoration: none;
  color: #585858;
}

.article-small h2 strong {
  transition: all .3s ease;
  transition-property: background-color, color;
}

.article-small h2:hover strong {
  background-color: hsl(32.43, 100%, 46.08%);
  color: white;
}

.article-small main {
  font-size: 1.125em;
  font-weight: 300;
}

.article-small main a,
.article-small footer a {
  text-decoration: none;
  border-bottom: 1px dotted hsla(185.92, 77.17%, 36.08%, 1);
}

.article-small footer a:hover,
.article-small main a:hover {
  border-bottom-style: solid;
}
