.article-featured {
  box-sizing: border-box;
  width: 100%;
  padding: (50/16) * 1em 0;
  margin-bottom: (50/16) * 1em;
}

.article-featured--dark {
  background-color: $black;
}

.article-featured h1 {
  margin:0;
  font-size: (38/18) * 1em; 
  font-weight: 100;
  text-transform: uppercase;
}

.article-featured h1 a {
  text-decoration: none;
  color: $white;
}

.article-featured h1 strong {
  transition: all .3s ease;
  transition-property: background-color, color;
}

.article-featured h1:hover strong {
  background-color: hsl(32.43, 100%, 46.08%);
  color: white;
}

.article-featured header,
.article-featured main,
.article-featured footer {
  max-width: 56.625em;
  margin: auto;
  padding: 0 (40/16) * 1em;
}
.article-featured main {
  font-size: (18/16) * 1em;
  font-weight: 300;
}

.article-featured main a,
.article-featured footer a {
  text-decoration: none;
  border-bottom: 1px dotted hsla(185.92, 77.17%, 36.08%, 1);
}

.article-featured footer a:hover,
.article-featured main a:hover {
  border-bottom-style: solid;
}

@media screen and (min-width: 800px) {
  .article-featured {
    padding: (150/16) * 1em 0;
  }
  .article-featured h1 {
    font-size: (58/18) * 1em;
  }
}
