.header {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: (30/16) * 1em;
  background-color: $black;
  /* opacity: 0.9; */
  color: white;
}

.header a {
  color: $white;
}

.branding {
  margin-bottom: (50/16) * 1em;
}

.branding h1 {
  margin: 0;
  padding: 0;
}

.branding,
.navigation {
  text-align: center;
}

.navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.navigation ul li {
  margin: 0.625em;
}

.navigation ul li.active a,
.navigation ul li:hover a {
  background-color: $accent-color;
}

.navigation ul li a {
  text-decoration: none;
  font-weight: 600;
  font-family: $heading-font;
  padding: 0.625em;
  // font-size: 1.125em;
}

@media screen and (min-width: 800px) {
  .branding {
    margin-bottom: 0;
  }
  .navigation ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
  .header {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: space-around;
  }
}