body {
  font-family: $body-font;
  color: $body-text-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}

a {
  color: $body-link-color;
}

::selection {
  background-color: $selection-color;
  color: $white;
}

@media screen and (min-width: 800px) {
  .article-body,
  .article-footer {
    max-width: $max-width;
    margin: auto;
  }
}
