.header {
  padding: 1.875em 3.75em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: hsla(0, 0%, 0%, 1);
  /* opacity: 0.9; */
  color: white;
}

.header a {
  color: white;
}
.branding {
  text-align: left;
}

.branding h1 {
  margin: 0;
  padding: 0;
}

.navigation {
  text-align: right;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.navigation ul li {
  margin: 0.625em;
}

.navigation ul li:hover a {
  background-color: hsla(32.43, 100%, 46.08%, 1);
}

.navigation ul li a {
  text-decoration: none;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
  padding: 0.625em;
}

.navigation ul li a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 1.125em;
}
