<div class="header">
  <div role="branding" class="branding">
    <h1><a href="/" title="Go back to the homepage">{{ site.title }}</a></h1>
  </div>

  <div class="navigation">
    <nav role="navigation">
      <ul>
        <li {% if page.url == "/" %} class="active" {% endif %}><a title="Navigate to the blog" href="/">Blog</a></li>
        <li {% if page.url contains "/about/" %} class="active" {% endif %}><a title="Find out more about me" href="/about">About</a></li>
        <li {% if page.url contains "/contact/" %} class="active" {% endif %}><a title="Go to the contact page" href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>
