<div class="header">
  <div role="branding" class="branding">
    <h1><a href="/" title="Go back to the homepage">{{ site.title }}</a></h1>
  </div>

  <div class="navigation">
    <nav role="navigation">
      <ul>
        <li 
          {% if page.url != "/about/" and page.url != "/contact/" and page.url != "/subscribe/" %}
              class="active" 
          {% endif %}
        ><a title="Navigate to the blog" href="https://{{ site.url }}/">Blog</a></li>
        <li {% if page.url contains "/about/" %} class="active" {% endif %}><a title="Find out more about me" href="https://{{ site.url }}/about">Who am I</a></li>
        <li {% if page.url contains "/contact/" %} class="active" {% endif %}><a title="Go to the contact page" href="https://{{ site.url }}/contact">Let's chat</a></li>
      </ul>
    </nav>
  </div>
</div>
