---
layout: default
---

<article class="article-full" itemprop="blogPosts" itemscope itemtype="https://schema.org/BlogPosting">
  <meta itemprop="datePublished" content="{{ page.pub_date | date_to_xmlschema}}">
  <meta itemprop="dateModified" content="{{page.last_modified | date_to_xmlschema}}">
  <meta itemprop="keywords" content="{{ page.keywords }}">
  <meta itemprop="author" content="{{ page.author }}">
  {% if page.lang %}
    <meta itemprop="inLanguage" content="{{ page.lang }}">
  {% else %}
    <meta itemprop="inLanguage" content="en_US">
  {% endif %}

  <!-- DIVERSITY IS KEY -->
  <span itemprop="audience" itemscope itemtype="http://schema.org/PeopleAudience">
      <meta itemprop="gender" content="any">
  </span>
  <header>
    <h1 itemprop="headline">{{ page.title }}</h1>
    {% include article_full/article_info.html %}
  </header>

  <main itemprop="articleBody">
    {{ content }}
  </main>

  <footer>
    {% include article_full/share_this.html %}
    {% include article_full/pagination.html %}
    {% include article_full/disqus.html %}
  </footer>
</article>
